.customer-block {
    height: 39.375rem;
    margin: 3.125rem 0 4rem;
}

.customer-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
    margin-bottom: 4rem;
}

.customer-cards__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31.62%;
    min-height: 21rem;
}

.customer-cards__text {
    position: relative;
    min-height: 11.25rem;
    padding: 2.375rem 0 2.3125rem;
    font-family: Raleway, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.32rem;
    color: #86878B;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.625rem;
    background-color: #E2E2E2;
}

.text__triangle {
    position: absolute;
    bottom: -20px;
    left: 18.9%;
    width: 0;
	height: 0;
	border-left: 1.25rem solid transparent;
	border-right: 1.25rem solid transparent;
	border-top: 1.25rem solid #E2E2E2;
}

.text__author {
    display: flex;
}

.author__photo {
    margin-right: 1.875rem;
    width: 4.375rem;
    height: 4.375rem;
}

.author__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author__name {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.9375rem 0;
}

.autor__job {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.3125rem;
}

.customer__title {
    line-height: 9.375rem;
}

.dots {
    display: none;
}


@media screen and (max-width: 1023.98px) {
    .customer-block {
        height: 34.28rem;
        margin-top: 0;
        margin-bottom: 1.97rem;
    }

    .customer__title {
        line-height: 1.79rem;
        margin-top: 1.99rem;
        margin-bottom: 1.99rem;
        font-size: 1.5rem;
    }

    .hidden-item {
        display: none;
    }

    .customer-cards {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .customer-cards__card {
        width: 100%;
        min-height: 11.25rem;
    }

    .customer-cards__text {
        position: relative;
        min-height: 5rem;
        padding: 3.125rem 0;
        font-size: 0.875rem;
        line-height: 1.03rem;
    }

    .author__info {
        margin-top: 0.25rem;
    }

    .text__author {
        margin: 3.875rem 0 1.4375rem;
    }

    .author__photo {
        margin-right: 1.375rem;
        width: 3.56rem;
        height: 3.56rem;
    }

    .author__name {
        font-size: 0.875rem;
        line-height: 1.19;
        padding: 0.53rem 0;
    }

    .autor__job {
        margin: 0;
        font-size: 0.81rem;
        line-height: 0.95rem;
        padding-top: 0.625rem;
        padding-bottom: 0.5625rem;
    }

    .dots{
        display: flex;
        justify-content: space-between;
        width: 8.09rem;
    }

    .dot {
        width: 0.59rem;
        height: 0.59rem;
        border: 0.0625rem solid #86878B;
        border-radius: 50%;
    }

    .dot-active {
        background-color: #86878B;
    }

    .customer__subtitle {
        margin: 1.5rem 0;
    }

}

@media (max-width: 1509.98px) and (min-width: 1024px) {
    .customer-block {
        height: 31.8rem;
        margin-bottom: 3.56rem;
    }

    .customer-cards {
        margin: 0;
    }

    .customer-cards__card {
        min-height: 19.3125rem;
    }

    .customer-cards__text {
        min-height: 5rem;
        padding: 3.125rem 0;
        font-size: 0.875rem;
        line-height: 1.03rem;
    }

    .author__photo {
        margin-right: 1.4rem;
        width: 3.94rem;
        height: 3.94rem;
    }

    .author__name {
        font-size: 1.125rem;
        line-height: 2.25rem;
        padding: 0;
    }

    .autor__job {
        font-size: 0.875rem;
        line-height: 1.03rem;
    }

    .customer__title {
        line-height: 7.5rem;
    }
    
}