.stylish-bg {
    background-image: url("../axit_img/image.png");
    background-size: cover;
}

.stylish-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 27.625rem;
    padding: 3.125rem 0;
}

.title-white {
    line-height: 9.375rem;
    color: #fff;
}

.line-white {
    height: 0;
    border-color: #fff;
}

.text-white {
    color: #fff;
}

.button-wide {
    width: 23.125rem;
}

@media screen and (max-width: 1023.98px) {
    
    .stylish-content {
        justify-content: flex-start;
        height: 22.375rem;
        padding: 0 0;
    }

    .title-white {
        line-height: 7.5rem;
        font-size: 1.5rem;
    }

    .text-white {
        width: 18rem;
        margin: 1rem 0 4.125rem;
        line-height: 1.03rem;

    }

    .button-wide {
        width: 18rem;
        margin-bottom: 58px;
    }
}